@charset "UTF-8";
.font-we {
  font-weight: 800;
  color: #000;
}

.col-000 {
  color: #000;
}

div {
  color: #1A1819;
}

.mar-top-20 {
  margin-top: 20px;
}

.title {
  text-align: center;
}

.container {
  padding: 0 10px;
  line-height: 26px;
}