body,html{
  width: 100%;
  height: 100%;
  .container{
    width: 100%;
    height: 100%;
    position: relative;
    background: url('../images/bj.png') 0% 0% / 100% 100%;
    section{
      .logo{
        width: 100px;
        //height: 100px;
        margin: 0 auto;
        //padding-top: 158px;
        height: 250px;
        text-align: center;
        margin-bottom: 77px;
        color: #fff;
        font-size: 20px;
        img{
          width: 100%;
          margin-top: 158px;
        }
      }
      .btn{
        width: 226px;
        height: 46px;
        margin: 0 auto;
        background: #fff;
        border-radius: 25px;
        text-align: center;
        color: #409BF8;
        line-height: 46px;
        font-size: 18px;
        position: relative;
        a{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          text-align: center;
        }
        //box-shadow: 2px 2px #333;
      }
    }
  }
  .model{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 18px;
    div.pic{
      width: 350px;
      height: 180px;
      position: absolute;
      right: 10px;
      top: -10px;
      //margin-top: 10px;
      //margin-right: 10px;
      img{
        width: 100% ;
        height: 100%;
      }
    }
    div.text{
      text-align: center;
      position: relative;
      top: 250px;
    }
  }
  .downApk{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}